@import "./partials/maps";
@import "./partials/extends";
@import "./partials/mixins";
@import "./partials/colors";
@import "./partials/buttons";
@import "./partials/fonts";
@import "./partials/form";
@import "./partials/header"; 
@import "./partials/footer"; 
@import "./partials/stores";
@import "./partials/stats";
@import "./partials/campaign";



// * {
//     outline: 1px solid rgb(0, 255, 81) !important;
//     padding: 0%;
//     margin: 0%;
//     box-sizing: border-box;
//  }  


a {
    text-decoration: none;
}

h1 {
    font-family: $fontPrimary;
    font-size: 2rem;
    padding: 10px 0px;
}

ul{
    list-style-type: none;
} 

p {
    font-family: $fontSecondary;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0 80px;
}

.titleCenter {
    margin: 50px 40px 50px 40px;
    text-align: map-get($mainAlign , textCenter);
}

.titleLeft {
    margin: 50px 20px 50px 20px;
    text-align: left;
}

.spacer{
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Inicio de caracteristicas Index*/
.featured {
    padding: 20px 10px 20px 0px;
    font-size: 1rem;
}

.featuredImg{
    text-align: center;
}

.featuredP {
    font-family: $fontSecondary;
    font-weight: 400;
    padding: 10px 0px 10px 0px;
    border-top: $colorSolidGrey 2px solid;

    
}
/* fin de caracteristicas Index*/

/* inico call to action generales*/
.callAction {
    background-color: $colorSolidGrey;
    padding: 1.5rem;
    text-align: center;
    // display: none;
}

.callAction{
    p{
    margin: 0px 50px;
    text-align: center;
    font-family: $fontSecondary;
    font-size: 1.2rem;
    }
}
/* fin call to action generales*/


/* Estilos catalogo*/

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-image: $colorGradientBrown;
    color: $colorSolidWhite;
}

.wrapperAside {
color: $colorSolidWhite;
padding: 2rem;
padding-right: 0;
// position: sticky;
top: 0;
height: 40vh;
display: flex;
flex-direction: column;
justify-content:space-around;
}

.wrapperIcon{
padding: 0.5rem;
padding-left: 0;
background-color: transparent;
color: $colorSolidWhite;
width: 100%;
text-align: left;
transition: background-color .2s, color .2s;
&:hover{
    text-decoration: underline;
    color: $colorSolidGrey2;
    }
}

.btnSidebar {
width: 100%;
gap: 3rem;
}

.btnCategory{
background-color: transparent;
border: 0;
color: $colorSolidWhite;
font-size: 1.2rem;
font-family: $fontSecondary;
cursor: pointer;
display: flex;
padding: 0.5rem;
padding-left: 1.8rem;
font-weight: 600;
margin-top: 1rem;
}

.btnCategory.active{
    background-color: $colorSolidWhite;
    color: $colorSolidBrown;
    border-radius: 0.4rem 0 0 0.4rem ;

}

.wrapperLogo{
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.wrapperFooterText{
    font-weight: 300;
    font-size: 0.9rem;
    color: $colorSolidGrey2;
}

.wrapperTitle{
    font-size: 2rem;
    font-family: $fontPrimary;
    color: $colorSolidBrown;
    padding: 0.4rem;
}

main{
    background-color: $colorSolidWhite;
    margin: 0rem;
    padding: 0rem;
}

.wrapperMain{
    background-color: $colorSolidWhite;
    margin: 1.4rem;
    border-radius: 0.4rem;
    padding: 1.4rem;
    margin-left: 0;


}

.productContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;

}

.productBG{
    border-radius: 1rem;
    background-color: $colorSolidGrey;
}

.productImg{
    width: 100%;
    border-radius: 0.4rem;
    border: 0.8rem solid $colorSolidGrey;

}

.productTitle{
    font-family: $fontPrimary;
    color: $colorSolidBrown;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;

}

.productDetail{
    padding: 0.6rem;
}

.productPrice{
    color: $colorSolidBlack;
    font-style: $fontSecondary;
    font-size: 1rem;
    text-align: center;
    padding: 0.2rem;
}

.productBtnAdd{
    background-color: $colorSolidBrown;
    font-style: $fontSecondary;
    color: $colorSolidWhite;
    width: 100%;
    border: none;
    border-radius: 0.4rem;
    padding: 0.4rem;
    text-transform: uppercase;
    transition: background-color .2s, color .2s;
    &:hover{
        background-image: $colorGradientBlack;
        color: $colorSolidWhite;
    }
}


/* Inicio Cart */

.cartTextEmptyH1{
    color: $colorSolidBlack;
    font-style: $fontPrimary;
    font-size: 2rem;
    padding: 0.2rem;

}
.cartTextEmptyP{
    color: $colorSolidBlack;
    font-style: $fontSecondary;
    font-size: 1.5rem;
    padding: 0.2rem;
}

.cartProductContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.4rem;
    background-color: $colorSolidWhite;
}

.cartProductImg{
    width: 6rem;
    border-radius: 0.2rem;
}

.cartProduct{
    display: flex;
    justify-content: space-between;
    background-color: $colorSolidGrey;
    border-radius: 0.4rem;
    color: $colorSolidBlack;
    padding: 0.5rem;
    padding-right: 1.5rem;
    align-items: center;
    font-family: $fontSecondary;
}

.cartProduct small{
    font-size: 0.75rem;
    font-weight: 400;
    color: $colorSolidBrown;
}

.cartProductDelete{
    border: 0;
    background-color: $colorSolidBrown;
    color: $colorSolidWhite;
    padding: 0.8rem;
    border-radius: 0.4rem;
    &:hover{
        background-image: $colorGradientBlack;
        color: $colorSolidWhite;
    }
}

.cartActions{
    display: flex;
    justify-content: space-between;
}


.cartActionsEmpty{
    border:0;
    background-color: $colorSolidGrey;
    color: $colorSolidBlack;
    padding: 0.6rem;
    border-radius: 0.4rem;
    text-transform: uppercase;
    &:hover{
        background-image: $colorGradientBlack;
        color: $colorSolidWhite;
    }
}

.cartActionsRight{
    display: flex;
    color: $colorSolidBlack;
}

.cartActionsBuy{
    border:0;
    background-color: $colorSolidBrown;
    color: $colorSolidWhite;
    padding: 0.6rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    text-transform: uppercase;
    &:hover{
        background-image: $colorGradientBlack;
        color: $colorSolidWhite;
    }
}

.cartActionsTotal{
    display: flex;
    background-color: $colorSolidGrey;
    color: $colorSolidBlack;
    padding: 0.4rem;
    text-transform: uppercase;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    font-weight: 600;
    font-size: 4rem;
}

/* Inicio Banners internos */


.imgBannerCart{
    background-image: url(../img/catalog.png);
    font-size: 2rem;
    background-size: cover;
    background-position: center;
    font-family: $fontPrimary;
    color: $colorSolidWhite;
    text-shadow: 1px 1px 2px rgb(65, 65, 65);
    height: 300px;
}

.imgBannerCatalog{
    background-image: url(../img/catalog.png);
    font-size: 2rem;
    background-size: cover;
    background-position: center;
    font-family: $fontPrimary;
    color: $colorSolidWhite;
    text-shadow: 1px 1px 2px rgb(65, 65, 65);
    height: 300px;
}

.imgBannerContact{
    background-image: url(../img/catalog.png);
    font-size: 2rem;
    background-size: cover;
    background-position: center;
    font-family: $fontPrimary;
    color: $colorSolidWhite;
    text-shadow: 1px 1px 2px rgb(65, 65, 65);
    height: 300px;
}

.imgBannerInternalTitle{
    height: 300px;
    line-height: 300px;
    text-align: center;
}

/* Fin Banners internos */






@media screen and (max-width:768px){
    .spacer {
      margin-top: 30px;
      margin-bottom: 30px;
    }
}