.btnRed{
    @extend %btnBase;
    background-image: $colorGradientRed;
    color: $colorSolidWhite;
    &:hover{
        background-image: $colorGradientBlack;
        color: $colorSolidWhite;
    }
}

.btnBlack{
    @extend %btnBase;
    background-image: $colorGradientBlack;
    color: $colorSolidWhite;
    &:hover{
        background-image: $colorGradientRed;
        color: $colorSolidWhite;
    }
}

#priceBtn{
    @extend %btnBase;
    background-image: $colorGradientBlack;
    width: 100%;
    margin: 0px auto;
    color: $colorSolidWhite;
    &:hover{
        background-image: $colorGradientRed;
        color: $colorSolidWhite !important;
    }
    a {
        color: $colorSolidWhite;
    }
}

.numberCart{
    background-color: red;
    border-radius: 2px;
    padding: 4px;
    margin-left: 4px;
}

