.btnRed{
    @extend %btnBase;
    background-image: $colorGradientRed;
    color: $colorSolidWhite;
    text-decoration: none;
    &:hover{
        background-image: $colorGradientBlack;
        color: $colorSolidWhite;
    }
}

.btnBlack{
    @extend %btnBase;
    background-image: $colorGradientBlack;
    color: $colorSolidWhite;
    text-decoration: none;
    &:hover{
        background-image: $colorGradientRed;
        color: $colorSolidWhite;
    }
}

.priceBtn{
    @extend %btnBase;
    background-image: $colorGradientBlack;
    width: 100%;
    margin: 0px auto;
    color: $colorSolidWhite;
    &:hover{
        background-image: $colorGradientWhite;
        color: $colorSolidBlack;
    }
    a {
        text-decoration: none;
        color: $colorSolidWhite;
    }
}


