/* Inicio de campaña principal */


.carousel-item{
    max-width: 100%;
    height: auto;
    }

.carousel-caption{
    width: 40%;
    text-align: center;
    padding: 0px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    }

.bannerImg{
    padding: 0%;
}

.bannerTitle{
    font-size: 3rem;
    font-family: $fontPrimary;
}

.bannerText{
    font-size: 1.5rem;
    font-family: $fontSecondary;
}


.bannerBtn {
    @extend %btnBase;
    background-image: $colorGradientRed;
    color: $colorSolidWhite;
    text-decoration: none;
    margin: 0 auto;
    &:hover{
        background-image: $colorGradientBlack;
        color: $colorSolidWhite;
    }
    a {
        text-decoration: none;
        color: $colorSolidWhite;
    }
} 

@media screen and (max-width:490px){
        
        .bannerTitle{
        display: none; 
        }
        .bannerText{
        display: none; 
       }
     
    .bannerBtn {
        font-size: 0.8rem;
        font-weight: 400;
        padding: 5px;
    } 
}

@media (min-width: 491px) and (max-width: 567px){
    
    .bannerTitle{
    font-size: 1.2rem;
    line-height: 1.6rem;
    }

    .bannerText{
        display: none;
   }
 
    .bannerBtn {
        font-size: 0.7rem;
        font-weight: 400;
        padding: 3px 0;
    } 
}


@media (min-width: 568px) and (max-width: 767px){
    
    .bannerTitle{
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: 0;
    }

    .bannerText{
        font-size: 0.9rem;
        line-height: 1.1rem;
        padding: 4px 0;
   }
 
    .bannerBtn {
        font-size: 0.8rem;
        font-weight: 400;
        padding: 5px;
    } 
}

@media (min-width: 768px) and (max-width: 1009px){
    
    .bannerTitle{
    font-size: 1.9rem;
    line-height: 2rem;
    }

    .bannerText{
        font-size: 1.2rem;
        line-height: 1.4rem;
        padding: 6px 0;
   }
 
    .bannerBtn {
        font-size: 1rem;
        font-weight: 400;
        padding: 5px;
    } 
}

@media (min-width: 1010px) and (max-width: 1199px){
    
    .bannerTitle{
    font-size: 2.4rem;
    line-height: 2.6rem;
    }

    .bannerText{
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 200;
    padding: 10px 0;
   }
 
    .bannerBtn {
        font-size: 1.2rem;
        font-weight: 400;
        padding: 5px;
    } 
}

@media screen and (min-width: 1200px){
    
    .bannerTitle{
    font-size: 3.1rem;
    line-height: 3.2rem;
    }

    .bannerText{
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 200;
    padding: 10px 0;
   }
 
    .bannerBtn {
        font-size: 1.3rem;
        font-weight: 400;
        padding: 5px;
    } 
}