$colorsGradientRed: linear-gradient(#FA006C, #FB009F);
$colorGradientBlack: linear-gradient(#000000, #2a2a2a);
$colorSolidRed: #FA006C;
$colorSolidGrey: #EFEFF7;
$colorSolidWhite: #ffffff;
$colorSolidBlack: #000000;