$colorGradientRed: linear-gradient(#FA006C, #FB009F);
$colorGradientBlack: linear-gradient(#000000, #2a2a2a);
$colorGradientWhite: linear-gradient(#EFEFF7, #fff);
$colorSolidRed: #FA006C;
$colorSolidRed2: #D0005B;
$colorSolidGrey: #EFEFF7;
$colorSolidGrey2: #a7a7a7;
$colorSolidWhite: #ffffff;
$colorSolidBlack: #000000;
