/* inicio de estadisticas Index*/
.stats {
    background-image: $colorsGradientRed;
    padding: 30px;
    text-align: center;
}

.statsIcon{
    text-decoration: none;
    font-size: 2.5rem;
    color: #EFEFF7;
}

.statsTitle{
    color:#fff;
    font-family: $fontSecundary;
    font-weight: 900;
    font-size: 2rem;
}

.statsP{
    color:#fff;
    font-family: $fontSecundary;
    font-weight: 400;
    font-size: 1rem;
}
/* fin de estadisticas Index*/

@media screen and (max-width:768px){
    .stats {
        border: 0.5px solid rgb(179, 3, 3);
        padding: 10px;
    }
    .statsIcon{
        font-size: 1.5rem;
    }
    .statsTitle{
        font-weight: 900;
        font-size: 1.2rem;
        inline-size: 1.5;
        margin-top: 8px;
    }
    .statsP{
        font-size: 1rem;
    }

}