$colorGradientBrown: linear-gradient(#490900, #3B0700);
$colorGradientBlack: linear-gradient(#000000, #2a2a2a);
$colorGradientWhite: linear-gradient(#EFEFF7, #fff);
$colorSolidBrown: #490900;
$colorSolidRed: #490900;
$colorSolidBrown2: #3B0700;
$colorSolidGrey: #EFEFF7;
$colorSolidGrey2: #a7a7a7;
$colorSolidWhite: #ffffff;
$colorSolidBlack: #000000;